@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --Tomato: hsl(4, 100%, 67%);
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Charcoal-Grey);
    font-family: 'RobotoRegular';
    font-size: 1rem;
}

.card {
    background-color: var(--White);
    width: 100%;
    max-width: 930px;
    display: flex; /* receive display: none*/
    align-items: center;
    padding: 1.2em 1.2em 1.2em 4em;
    border-radius: 2rem;
    gap: 3.5em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.text_card h1 {
    color: var(--Dark-Slate-Grey);
    font-size: 3rem;
}

.text_card p {
    color: var(--Dark-Slate-Grey);
    margin-top: 1.5em;
}

.checks {
    margin-top: 2em;
    list-style: none;
}

.check_1, .check_2, .check_3 {
    display: flex;
    align-items: center;
    gap: .8rem;
    margin-top: .8em;
}

.div_email {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;
}

.labels_email > label {
    font-size: .8rem;
    font-family: 'RobotoBold';
}

.labels_email {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.error {
    display: none;
    color: var(--Tomato);
    font-size: .8rem;
    font-family: 'RobotoBold';
}

#input-email {
    width: 100%;
    margin-top: .6rem;
    border: .1rem solid var(--Grey);
    height: 60px;
    border-radius: .5rem;
    padding-left: 1.5rem;
    font-size: 1rem;
}

#input-email:focus {
    border: .18rem solid var(--Grey);
    outline: var(--Grey);
}

::placeholder {
    white-space: pre-line;
}

#btn-email {
    margin-top: 1.5rem;
    border-radius: .5rem;
    white-space: pre-line;
    height: 60px;
    background-color: var(--Dark-Slate-Grey);
    color: var(--White);
    font-size: 1rem;
    font-family: 'RobotoBold';
    cursor: pointer;
    transition: 0.3s ease-in-out;
    word-wrap: break-word;
}

#btn-email:hover {
    background-color: var(--Tomato);
    box-shadow: 0 15px 25px rgba(255, 98, 87, 0.308)
}

#btn-email:active{
    transform: scale(0.92);
} 

.attribution {
    position: absolute;
    margin-top: 58em;
    text-align: center;
    padding: .3rem;
}

.attribution p {
    color: var(--White);
}

.attribution a {
    color: var(--Tomato);
}


/*Second card below*/
.thanks_card {
    display: none; /* receive display: block*/
    width: 100%;
    max-width: 460px;
    background-color: var(--White);
    padding: 3em;
    border-radius: 2rem;
}

.thanks_card_text h2 {
    margin-top: .6em;
    font-size: 3rem;
    color: var(--Dark-Slate-Grey);
}

.thanks_card_text p {
    color: var(--Dark-Slate-Grey);
    margin-top: 1em;
}

.thanks_card_text span {
    font-family: 'RobotoBold';
}

#dismiss-message-btn {
    background-color: var(--Dark-Slate-Grey);
    color: var(--White);
    width: 100%;
    height: 55px;
    font-size: .9rem;
    font-family: 'RobotoBold';
    margin-top: 2.5em;
    white-space: pre-line;
    border-radius: .5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#dismiss-message-btn:hover {
    background-color: var(--Tomato);
    box-shadow: 0 15px 25px rgba(255, 98, 87, 0.308)
}

#dismiss-message-btn:active{
    transform: scale(0.92);
}